# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.exe~
*.out
*.app

# Meson build directories
build/
builddir/

# Ignore VSCode shit
.vscode

# Weird .cache files?
.cache/

# Meson wrap stuff
subprojects/*/

# Compile commands nessisary for intellij to work
**/compile_commands.json

# Ignore compiled google protobufs
**/*.bp.cc
**/*/bp.h

